APP_URL="https://ben20060714.github.io/Labonnesemence"
PUBLIC_URL="/Labonnesemence"
PORT=5000
FRONTEND_URL="http://localhost:3001"
PUBLIC_API_URL="http://localhost:5000"
MONETBIL_SERVICE_KEY="votre_cle_service_monetbil"
MONETBIL_PAYMENT_URL="https://www.monetbil.com/widget/v2.1/"
