node_modules/
.agents/
build/
coverage/
.venv/
dist/
.DS_Store
*.log
.env*
.env.example
audio/
tmp
decoded_files_js.txt
data/
uploads/
brouillon.txt
PriereDuJourSection.tsx
la-bonne-semence-firebase-adminsdk-fbsvc-e51e91e385.json